.weather {
  padding: 10px;
  background: rgb(25, 6, 111);
  color:rgba(255,255,255,0.98); ;
  visibility: hidden;
  position: absolute;
  animation: fade-out .5s;
  &_active {
    position: absolute;
    z-index: 100;
    left: calc(50% - 100px);
    align-items: center;
    display: flex;
    flex-direction: column;
    animation:fade-in .5s;
    visibility: visible;
    width: 200px;
    min-height: 200px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(27, 26, 26, 0.687);
  }
  &__temp {
    display: flex;
    align-items: center;
  }
  &__temperature {
    font-size: 45px;
    text-align: center;
  }


}
#map {
  // position: absolute;
  margin-top: 10px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
@keyframes fade-out {
  from {opacity: 1}
  to {opacity: 0}
}
@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
